#Navbar {
  display: flex; /* Agregar estilo flex */
  flex-direction: column; /* Cambiar la dirección de flex a columna */
}

.navbar-nav {
  margin-top: auto; /* Mover la barra de navegación al final del contenedor */
  margin-bottom: 0; /* Eliminar el margen inferior */
}
#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

#qrcode img {
  max-width: 100%;
  max-height: 100%;
}